@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.btn-primary {
  color: #fff;
  background-color: #be2857;
  background-color: cutom-color;
  border-color: #be2857;
  border-color: cutom-cor;
  &:hover {
    background-color: #be2857e3;
    border-color: #be2857e3;
  }
}
